<div class="col-lg-12 banner"><h1>公司簡介</h1></div>
<div class="clear"></div>
<div class="col-md-12 aboutUs">
<br />
<p>工商首選，投資權威，商機無限，專心，專業，專注為您服務</p>
<br />
<p>智誠地產 秉承著『與客戶建立長遠的合作夥伴關係，持續合作』的精神，為客戶提供全面解決方案，爭取最佳利益，絕不偏幫徇私。我們以真誠的心為客戶提供真實資料務求客戶充分了解物業概況，同時智誠地產積極建立全港最多、最齊及最準確的工商舖物業資料庫。
</p><br />
<p>智誠地產擁有多名持牌經驗達10年以上的地產代理精英，專門從事工商物業代理，並免貴提供銀行估價、物業裝修分間收租、物業可行性研究、項目策劃等服務服。</p><br />
智誠地產 位於葵涌中心、核心地段舖。服務範圍包括：葵涌、荃灣、觀塘、長沙灣等工商舖物業；在各區促成大量工廈買賣租務成交，深得工廈業主、買家及發展商之信賴。
</div>
<div class="clear"></div><br />
<!--div class="col-md-12" style="padding:0">
  <p class="email">>>電郵聯絡我們</p>
  <div class='col-md-offset-4 col-md-5' ng-include="'views/sub/contactUs.html'"></div></div-->