<div class="col-lg-12 banner"><h1>聯絡我們</h1></div>
<div class="clear"></div>
<map center="新界葵涌葵興路100-102號葵涌中心1樓b1號鋪">
   <marker position='新界葵涌葵興路100-102號葵涌中心1樓b1號鋪'></div>
 </map>
<div class="col-lg-12" style="padding:0">
<div class="company_name"><b>環球地產發展</b></div>
<div>新界葵涌葵興路100-102號葵涌中心1樓b1號鋪</div>
<div>電話 +852 2484 1888</div>
<div>新界葵涌葵興路100-102號葵涌中心1樓b30號鋪</div>
<div>電話 +852 2484 1688</div>
</div>

<div class="clear"></div>
<div class="contact_us_desc">如您對本網站有任何想法、建議或意見，請填寫以下表格，我們會盡快回覆。</div>
<div class="col-lg-12 offset-2"></div>
<div class="clear"></div>
<div class="col-md-12" style="padding:0">

  <div class=' col-md-5' ng-include="'views/sub/contactUs.html'"></div>
</div>
