<div class="col-lg-12 offset-2 border_title">市場消息</div>
<div class="clear"></div><br />
<div class='row'>
	<div ng-include="'views/template/propNewsTmpl1.html'" ></div>
  <div class="clear"  ng-include="page.tmpl" ng-controller='paginationCtrl'></div>
  <div  class="clear"  ng-include="'views/template/propertyResult'+propertyTmpl+'.html'" ></div>  
</div>
<div class="col-lg-12 clear">
<div class="prop_news_cont">
<div class="prop_news_title">合和灣仔建單幢樓</div>
【鞏固版圖】除了恒地積極於市區重建舊樓外，灣仔大地主合和（054）亦部署發展區內土儲，其中去年高價向政府投得捷船街住宅地，已獲批則建單幢11層高住宅，總樓面1.45萬方呎。 事實上，合和於去年中以每......<br />
<div class="col-lg-6"><img src="images/detail_btn.png" style="width:auto; margin-bottom:10px" /></div>
<div class="col-lg-6" style="text-align:right;">2015/07/10</div>
<div class="col-lg-12 clear" style="border-bottom:1px dotted #666;"></div>
</div>
</div>