<div class="col-md-12 banner">
<h1>精英招募</h1>
</div>
<div class="clear"></div>
<h2 class="recruit_sub">永進物業 分行擴充, 現正招募精英,</h2>
<br>
<h2 class="recruit_sub_name">營業顧問</h2>
<br>
<ul class="recruit_ul">
	<li>高佣制度, 營業員劃一拆佣70%.</li>
    <li>後勤支援充足, 盤源豐富, 更新頻密</li>
    <li>上班時間穩定, 銀行假期.</li>
    <li>誠聘有上進心, 勤奮, 持牌地產代理, 歡迎隨時與我們聯絡.</li>
</ul>
<br />
<div class="clear"></div>
<div class="col-md-12 all_tb">
<div class="col-md-6 tb1">
<span class="recruit_title">荃灣分行</span>
<br />
黎先生- 66888926</div>
<div class="col-md-6 tb2"><span class="recruit_title">葵涌分行</span><br />
陳先生- 96577725</div>
<div class="col-md-12 tb3"><span class="recruit_title">如有任何合作方案, 分行經理或團隊加盟請電保密專線:</span><br />
陳先生- 91066980</div>
</div>
