.margin-top-10{
    margin-top: 10px;
  }
 .margin-top-8{
    margin-top: 8px;
  }
 .width-80{
 	width:80%;
 }
 .width-70{
 	width:70%;
 }
 .width-82{
 	width:82%;
 }
 .clear{
 	clear:both;
 }
 .row{
  margin-left:0px;
  margin-right: 0px
 }
 /* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
/* you can also define the transition style
   on the base class as well (.repeat-item) */
.view_change.ng-enter{
  -webkit-transition:0.5s ease-out all;
  transition:0.5s ease-out all;
}
.view_change.ng-leave{
	 -webkit-transition:0.1s ease-out all;
  transition:0.1s ease-out all;

}
.view_change.ng-enter,
.view_change.ng-leave.ng-leave-active {
  opacity:0;
}
.view_change.ng-leave,
.view_change.ng-enter.ng-enter-active {
  opacity:1;
}

.repeat_item.ng-enter,
.repeat_item.ng-leave{
  -webkit-transition:0.6s ease-out all;
  transition:0.6s ease-out all;
}

.repeat_item.ng-enter,
.repeat_item.ng-leave.ng-leave-active {
	position: relative;
  left:2200px;
}
.repeat_item.ng-leave,
.repeat_item.ng-enter.ng-enter-active {
	position: relative;
  	left:0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    
    
}